$myColor: #1A341A;
p{
//$myColor:blue !global ;
//i just made the variable global
color:$myColor;
}

nav {
    ul{
        color: $myColor;
    }
    li{
        a{
            color: red;
            font-weight: bold;
            
        }
    }
}
body {
    font: {
        family: Arial, Helvetica, sans-serif;
    }
    }
#class {
    font-size: 23px;
}
.id{
    font-size: 5px;
}
.grid-item{
    padding: 20px;
}
.grid-items{
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
img{
    width:180px;
    height: 200px;
}